*.o
*.swp
*.pcap
Makeconf
cscope.*
tags
include-host/
tests/*/*.ukvm
tests/*/*.virtio
tests/*/*.muen
tests/*/ukvm-bin
tests/*/ukvm-dyn
ukvm/Makefile.ukvm
ukvm/_build_ukvm/
ukvm/ukvm-bin
ukvm/ukvm-dyn
*.log
*.so
